<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://JAVA.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>HostGroup</display-name>
<!--  Bai tap chuong 2-->
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.group.Exercise.Week1.controller.LoginController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/exercise-userlogin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>login2</servlet-name>
    <servlet-class>com.group.Exercise.Week1.controller.LoginController2</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>login2</servlet-name>
    <url-pattern>/exercise-userlogin2</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>login3</servlet-name>
    <jsp-file>/views/ExerciseWeek1/loginJSP.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>login3</servlet-name>
    <url-pattern>/exercise-userlogin3</url-pattern>
  </servlet-mapping>

  <!--  Bai tap chuong 5-->
  <servlet>
    <servlet-name>emailList</servlet-name>
    <servlet-class>com.group.Exercise.Week2.controller.EmaiListServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>emailList</servlet-name>
    <url-pattern>/exercise-emailList</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter
    </filter-class>
  </filter>

  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <session-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>

